/* .index-container {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.index-container header {
    background-color: coral;
    display: flex;
    justify-content: flex-end;
}

.index-container ul {
    list-style-type: none;
}

.index-container ul li {
    display: inline;
} */